/* Blog
========================================================================== */
section.blog, div.ultimas_do_blog-card  {
    padding: 80px 0 40px 0;
    @media screen and (max-width: $dt) {
        padding: 46px 15px 30px;
    }
    form.busca {
        width: 100%;
        position: relative;
        padding-bottom: 15px;
        margin-bottom: 50px;
        input {
            width: 100%;
            height: 50px;
            font-size: 20px;
            color: $text-color;
            background: #fff;
            padding: 0 128px 0 25px;
            border: 1px solid #ccc;
            border-radius: 22px 0 22px 0;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            @media (max-width: 480px){
                width: 98%;
                padding: 0 1%;
            }
        }
        a {
            top: 0px;
            right: 0px;
            color: #fff;
            font-size: 25px;
            cursor: pointer;
            position: absolute;
            transition: all .2s;
            background: #00385d;
            padding: 13px 52px 8px 52px;
            border-radius: 22px 0 22px 0;
            &:hover{
                background: rgb(209, 124, 2);
            }
            @media (max-width: 480px){
                width: 98%;
                display: block;
                margin-top: 5px;
                position: relative;
                text-align: center;
    
            }
        }
    }
    >div >article,  ul li.lslide >article{
        margin: 0 0 80px 0;
        position: relative;
        @include flex(row, nowrap, flex-start, flex-start);
        @media screen and (max-width: $dt) {
            @include flex(column, nowrap, flex-start, flex-start);
        }
        &.even {
            justify-content: flex-end;
        }
        .text-content {
            height: 272px;
            width: 752px;
            padding: 18px 26px;
            padding-right: 226px;
            @include flex(column, nowrap, flex-start, flex-start);
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            @include border-radius(20px 0 20px 0);
            @media screen and (max-width: $dt) {
                width: 100%;
                height: unset;
                padding: 18px 26px !important;
                @include border-radius(0 0 20px 0);
            }
            &.even {
                padding-left: 226px;
                padding-right: 0;
                @media screen and (max-width: $dt) {
                    align-items: flex-start !important;
                }
            }
            a {
                h2 {
                    margin: 0 0 18px 0;
                    font-family: $fonte;
                    line-height: 1.2;
                    color: $text-color;
                }
            }
            p {
                font-family: $fonte;
                line-height: 1.5;
                color: #000;
                a {
                    display: none;
                }
            }
        }
        > a {
            position: absolute;
            right: 0;
            @include transition(all .3s);
            @media screen and (max-width: $dt) {
                display: block;
                width: 100%;
                position: inherit;
            }
            @media screen and (min-width: $dt + 1) {
                &:hover {
                    transform: translateY(-6px);
                }
            }
            &.even {
                left: 0;
                right: inherit;
            }
            img {
                display: block;
                margin: -28px 0 0 0;
                width: 480px;
                height: 268px;
                object-fit: cover;
                object-position: center;
                @include border-radius(22px 0 22px 0);
                @media screen and (max-width: $dt) {
                    width: 100%;
                    height: 228px;
                    margin: -24px 0 0 0;
                    @include border-radius(22px 0 0 0);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                }
            }
        }
    }
    ul li.lslide >article{
        margin: 70px 0 0 0;
    }
    .mais {
        width: 100%;
        margin: 25px 0;
        text-align :center;
        a {
            position : relative ;
            width: 100%;
            padding: 13px 50px;
            background: rgb(0, 56, 93);
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-family: Montserrat;
            font-weight: bold;
            border-radius: 20px;
            transition :all .3s;
            box-shadow: 3px 3px 3px 0px #ccc;
            &:after {
                content: '';
                width: 55%;
                height: 4px;
                background-image: linear-gradient(to right,rgb(0, 39, 77),rgb(255, 255, 255));
                display: inline-block;
                margin-left: 25px;
                pointer-events : none;
                vertical-align: middle;
                position: absolute;
                right: -177px;
                top: 25px;
            }
            &:before {
                content: " ";
                width: 55%;
                height: 4px;
                pointer-events: none;
                background-image: linear-gradient(to left,rgb(0, 39, 77),rgb(255, 255, 255));
                display: inline-block;
                margin-left: 25px;
                vertical-align: middle;
                position: absolute;
                left: -202px;
                top: 25px;
            }
            &:hover {
                background: rgb(209, 124, 2);
            }
        }
    }
}
