/* Card Empreendimentos
========================================================================== */
div.article-container {
    margin: 0 0 20px 0;
    display: inline-block;
    article {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: block;
        width: 320px;
        &.archive{
            width: 295px;
            margin: 0 3px;
            min-height: 490px;
            div.content{
                p{
                    font-size: 15px;
                }
            }

        }
        background-color: #ffffff;
        overflow: hidden;
        min-height: 505px;
        display: block;
        filter: drop-shadow(-2.27px 4.455px 3.5px rgba(44,44,44,0.15));
        @media screen and (max-width: $tb){
            display: table-row;
        }
        &.obra-entregue{
            div.imagem{
                &:after{
                    content: 'Unidades Esgotadas';
                    height: 20px;
                    font-size: 10px;
                    font-weight: 700;
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 20px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    width: 174px;
                    background: #ec283a;
                    box-shadow: 0 3px 10px -5px #000;
                    position: absolute;
                    top: 40px;
                    left: -40px;
                }
            }
        }
        div.imagem{
            position: relative;
            img{
                height: 200px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            strong{
                position: absolute;
                right: 0;
                top: 15%;
                background: $secondary-color;
                text-decoration: none;
                color: #fff;
                padding: 2px 15px;
                font-size: 15px;
                border-radius: 15px 0px 0px 0px;
                &.pronto-para-morar{
                    background: #276a1f;
                }
                &.obra-entregue{
                    background: #18385d;
                }
            }
        }
        div.content {
            max-width: 100%;
            padding: 16px;
            div.titulo {
                margin: 12px 0;
            }
            div.dormitorios, div.area, div.vagas {
                margin-top: 14px;
            }
            div.left{
                width: 10%;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: #50504f;
                }
            }
            div.right {
                width: auto;
            }
            p {
                font-weight: 500;
                color: #50504f;
                font-family: $fonte;
                font-size: 18px;
            }
            h3 {
                color: #2d2d2d;
                font-size: 24px;
            }
        }
    }
}
