/* Central do Cliente
========================================================================== */
section.central-do-cliente {
    background: url('assets/images/central-do-cliente.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    > div {
        padding: 200px 0;
        @include flex(row, nowrap, space-between, flex-start);
        @media screen and (max-width: $dt) {
            padding: 46px 15px;
            @include flex(column, nowrap, center, center);
        }
        > .title {
            text-align: center;
            margin-bottom: 30px;
            h2 {
                padding : 15px 0;
                font-family: $fonte;
                font-size: 33px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                width: 316px;
                margin: 0 auto 16px auto;
                @include transition(all .3s);
                @media screen and (max-width: $sm) {
                    margin: 0 auto 20px auto;
                    font-size: 28px;
                    width: inherit;
                }
                &:after {
                    content: '';
                    background: $main-color;
                    display: block;
                    width: 174px;
                    padding: 3px;
                    margin: 10px auto 0 auto;
                    @include transition(all .3s);
                }
                &:hover:after {
                    width: 100%;
                }
            }
            a {
                img {
                    width: 200px;
                }
            }
        }
        > article {
            width: 578px;
            padding: 38px 82px 38px 38px;
            background: #fff;
            @include border-radius(18px 0 18px 0);
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            @media screen and (max-width: $tb) {
                width: 100%;
                padding-right: 38px;
            }
            h1, h2, p {
                font-family: $fonte;
                color: #000;
            }
            h1 {
                font-size: 1.25rem;
                font-weight: 600;
                margin: 0 0 24px 0;
                @include transition(all .3s);
                &:after {
                    content: '';
                    background: $main-color;
                    display: block;
                    width: 174px;
                    padding: 3px;
                    margin: 6px 0 0 0;
                    @include transition(all .3s);
                }
                &:hover {
                    transform: translateX(6px);
                    &:after {
                        width: 240px;
                    }
                }
            }
            h2 ~ p {
                margin: 0 0 38px 0;
            }
            p {
                width: 100%;
                font-size: 1rem;
                font-weight: 400;
                margin: 0 0 10px 0;
            }
            h2 {
                font-size: 1.25rem;
                font-weight: 600;
                margin: 0 0 16px 0;
            }
            form {
                @include flex(column, nowrap, flex-start, flex-start);
                input {
                    font-family: $fonte;
                    font-weight: 600;
                    font-size: 1rem;
                    color: $text-color;
                    border: 1px solid $main-color;
                    padding: 12px 18px;
                    margin: 0 0 14px 0;
                    background: none;
                    width: 100%;
                    @include border-radius(18px 0 18px 0);
                    @include transition(all .3s);
                    &::placeholder {
                        @include transition(all .3s);
                    }
                    &:-ms-input-placeholder {
                        @include transition(all .3s);
                    }
                    &::-ms-input-placeholder {
                        @include transition(all .3s);
                    }
                    &::-webkit-input-placeholder {
                        @include transition(all .3s);
                    }
                    &:hover,
                    &:focus {
                        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                        &::placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &:-ms-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &::-ms-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &::-webkit-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                    }
                    &[type="submit"] {
                        background: $tertiary-color;
                        font-weight: bold;
                        font-size: 1.125rem;
                        color: #fff;
                        padding: 10px 64px;
                        border: none;
                        width: inherit;
                        margin-top: 10px;
                        cursor: pointer;
                        @include border-radius(22px);
                        @include transition(all .3s);
                        &:hover {
                            transform: translateX(6px);
                            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
            }
        }
    }
}
