/* Mixins Contato
========================================================================== */
@mixin defaultPlaceholderHover {
    color: $tertiary-color;
    transform: translateX(8px);
}

@mixin defaultHeadingContato {
    font-size: 2.188rem;
    font-family: $fonte !important;
    font-weight: bold !important;
    color: #000 !important;
    @include transition(all .3s);
    @media screen and (max-width: $sm) {
        margin: 0 0 20px 0;
    }
    &:after {
        content: '';
        background: $main-color;
        display: block;
        width: 174px;
        padding: 3px;
        margin: 10px 0 0 0;
        @include transition(all .3s);
    }
    &:hover {
        transform: translateX(6px);
        &:after {
            width: 320px;
        }
    }
}

/* Contato
========================================================================== */
section.contato {
    padding: 42px 0 0 0;
    > div {
        @media screen and (max-width: $dt) {
            padding: 0 15px;
        }
        > .title {
            @include flex(row, nowrap, space-between, flex-start);
            @media screen and (max-width: $sm) {
                @include flex(column, nowrap, space-between, flex-start);
            }
            h2 {
                @include defaultHeadingContato;
            }
            span {
                font-family: $fonte;
                font-size: 2.188rem;
                i {
                    color: $tertiary-color;
                }
            }
        }
        p {
            font-family: $fonte;
            font-size: 1.125rem;
            color: #000;
            margin: 18px 0;
        }
        form {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 0 20px 0;
            @media screen and (max-width: $sm) {
                display: block;
            }
            p {
                margin: 0 0 20px 0;
                &:first-of-type,
                &:nth-of-type(3) {
                    margin: 0 56px 20px 0;
                    @media screen and (max-width: $sm) {
                        margin-right: 0;
                    }
                }
                &:nth-last-of-type(2) {
                    grid-column: 1 / span 2;
                }
                input {
                    width: 486px;
                    &[type="submit"] {
                        background: $tertiary-color;
                        font-weight: bold;
                        font-size: 1.625rem;
                        color: #fff;
                        width: 230px;
                        padding: 12px 0;
                        border: none;
                        cursor: pointer;
                        @include border-radius(22px);
                        @include transition(all .3s);
                        &:hover {
                            transform: translateX(6px);
                            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
                textarea {
                    width: 100%;
                    height: 158px;
                }
                input,
                textarea {
                    font-family: $fonte;
                    font-weight: 600;
                    font-size: 1.125rem;
                    color: $text-color;
                    border: 1px solid $main-color;
                    padding: 12px 24px;
                    background: #f8f8f8;
                    @include border-radius(18px 0 18px 0);
                    @include transition(all .3s);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                    }
                    &::placeholder {
                        @include transition(all .3s);
                    }
                    &:-ms-input-placeholder {
                        @include transition(all .3s);
                    }
                    &::-ms-input-placeholder {
                        @include transition(all .3s);
                    }
                    &::-webkit-input-placeholder {
                        @include transition(all .3s);
                    }
                    &:hover,
                    &:focus {
                        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                        &::placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &:-ms-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &::-ms-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                        &::-webkit-input-placeholder {
                            @include defaultPlaceholderHover;
                        }
                    }
                }
            }
        }
        .localizacao {
            margin: 0 0 60px 0;
            h2 {
                @include defaultHeadingContato;
            }
            p {
                font-family: $fonte;
                font-size: 1.563rem;
                color: #50504f;
                i {
                    color: $tertiary-color;
                    margin: 0 4px 0 0;
                    @media screen and (max-width: $tb) {
                        margin: 0 4px 10px 0;
                    }
                }
            }
        }
    }
    iframe {
        width: 100%;
        border: none !important;
        height: 322px !important;
        margin-bottom: -4px;
    }
}
