/* Footer
========================================================================== */
div#footer-container {
    background: #e6e6e6;
    footer#main-footer {
        padding: 30px 0 100px 0;
        span, p, h1, h2, h3, h4, h5, h6, input, a, li {
            font-family: $fonte;
        }
        @media screen and (max-width: $dt) {
            padding: 30px 15px 100px 15px;
        }
        @media screen and (max-width: $tb) {
            padding-bottom: 30px;
        }
        div.container {
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: $tb) {
                text-align: center;
                padding: 0;
                @include flex(column, nowrap, center, center);
            }
            > div {
                &:not(:first-of-type) {
                    margin-top: 15px;
                }
                h4 {
                    text-transform: uppercase;
                    color: $main-color;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                ul {
                    list-style: none;
                    li {
                        a {
                            color: $text-color;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
                &:first-of-type {
                    img {
                        margin-bottom: 5px;
                    }
                    p {
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
                &:last-of-type {
                    @media screen and (max-width: $sm) {
                        * {
                            a {
                                font-size: 0.875rem;
                            }
                        }
                    }
                    h4 {
                        &:after {
                            content: '';
                            width: 55%;
                            height: 4px;
                            background-image: linear-gradient(to right, $main-color, #fff);
                            display: inline-block;
                            margin-left: 25px;
                            vertical-align: middle;
                            @media screen and (max-width: $tb) {
                                display: none;
                            }
                        }
                    }
                    div.endereco-footer {
                        display: flex;
                        @media screen and (max-width: $tb) {
                            flex-direction: column;
                            align-items: center;
                        }
                        > div {
                            display: flex;
                            svg {
                                margin-right: 10px;
                                @media screen and (max-width: $tb) {
                                    margin: 12px 10px 0 0;
                                }
                            }
                            &:first-of-type {
                                margin-right: 15px;
                            }
                        }
                    }
                    > div {
                        p {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.5;
                            a {
                                color: $text-color;
                            }
                        }
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                    div.email {
                        margin-top: 15px;
                        p {
                            display: inline;
                            vertical-align: super;
                        }
                    }
                }
            }
        }
    }
}

div#fixed-footer{
    background: $tertiary-color;
    position: fixed;
    z-index: 9;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    @media screen and (max-width: $tb) {
        // display: none;
    }
    span, p, h1, h2, h3, h4, h5, h6, input, a, li{
        font-family: $fonte;
    }
    div.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 70px;
        overflow: hidden;

        div.icon{
            border-right: 2px solid #fff;
            border-bottom-right-radius: 35px;
            padding: 37px 20px 31px 20px;
            @media screen and (max-width: $tb) {
                text-align: center;
                margin: 0 auto;
                &.hidden-sm {
                    display: none;
                }
                a{
                    div:last-child{
                        display:none;
                    }
                }
                &:nth-child(6){
                    border-right: none;
                    padding-right: 0;
                }

            }

            a{
                color: #fff;
                display: flex;
                p{
                    font-size: 15px;
                    &:nth-child(2){
                        font-size: 22px;
                        font-weight: 700;
                    }
                }
                svg{
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }

            &:nth-child(2){
                border-top-left-radius: 35px;
                border-left: 2px solid #fff;
            }
        }

        >div{
            &:first-child{
                display: none;
            }
            p{
                color: #fff;
                font-weight: 700;
                font-size: 24px;
                &:first-child{
                    text-transform: uppercase;
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }
    }
}

.subfooter{
	padding: 5px 0px;
	background: #F77A22;
	@media screen and (max-width: 1218px) {
		padding: 5px 10px;
	}
	.container{
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 197%;
		text-align: right;
		color: #FFFFFF;
		a{
			font-family: 'Poppins';
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 197%;
			text-align: right;
			color: #FFFFFF;
			transition: all .3s;
			&:hover{
				opacity: 0.7;
			}
		}
	}
}

div.newfooter{
	padding: 76px 0px;
	padding-bottom: 135px;
	@media screen and (max-width: 1218px) {
		padding: 56px 0px;
	}
	background-color: $main-color;
	.container{
		width: 1459px;
		@media screen and (max-width: 1459px) {
			padding: 0px 10px;
		}
		display: flex;
		column-gap: 52px;
		justify-content: space-between;
		@media screen and (max-width: 1218px) {
			flex-wrap: wrap;
			row-gap: 32px;
		}
		.first{
			width: 19.8%;
			@media screen and (max-width: 1218px) {
				width: calc(50% - 28px);
			}
			@media screen and (max-width: 576px) {
				width: 100%;
			}
			img{
				width: 160px;
				height: 105px;
				object-fit: contain;
			}
			p{
				font-family: 'Poppins';
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 120%;
				color: #FFFFFF;
				&:first-of-type{
					padding-top: 13px;
				}
			}
		}
		.atendimento{
			padding-top: 14px;
			width: 26.5%;
			@media screen and (max-width: 1218px) {
				width: calc(50% - 28px);
			}
			@media screen and (max-width: 576px) {
				width: 100%;
			}
			.title{
				padding-bottom: 12px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 22px;
				line-height: 27px;
				text-transform: uppercase;
				color: #FFFFFF;
			}
			>div{
				padding-top: 16px;
				display: flex;
				align-items: center;
				justify-content: left;
				column-gap: 7px;
				svg{
					width: 18px!important;
				}
				a{
					width: calc(100% - 18px);
					white-space: wrap;
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 119.5%;
					color: #FFFFFF;
					@media screen and (max-width: 1218px) {
						font-size: 14px;
					}
				}
			}
		}
		.filiais{
			padding-top: 14px;
			width: 25%;
			@media screen and (max-width: 1218px) {
				width: calc(50% - 28px);
			}
			@media screen and (max-width: 576px) {
				width: 100%;
			}
			.title{
				padding-bottom: 12px;
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 22px;
				line-height: 27px;
				text-transform: uppercase;
				color: #FFFFFF;
			}
			>div{
				padding-top: 16px;
				display: flex;
				align-items: flex-start;
				justify-content: left;
				column-gap: 7px;
				svg{
					width: 18px!important;
				}
				a{
					width: calc(100% - 18px);
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 119.5%;
					color: #FFFFFF;
					@media screen and (max-width: 1218px) {
						font-size: 14px;
					}
				}
			}
		}
		.redes-sociais{
			@media screen and (max-width: 1218px) {
				width: calc(50% - 28px);
			}
			@media screen and (max-width: 576px) {
				width: 100%;
			}
			padding-top: 14px;
			justify-content: center;
			width: 47px;
			display: flex;
			flex-wrap: wrap;
			height: fit-content;
			row-gap: 15px;
			column-gap: 15px;
			>div{
				width: 47px;
				height: 47px;
				background-color: $secondary-color;
				border-radius: 50%;
				a{
					display: flex;
					justify-content: center;
					align-items: center;
					width: 47px;
					height: 47px;
					svg{
						transition: all .3s;
					}
				}
				&:hover{
					a{
						svg{
							transform: rotateY(360deg);
						}
					}
				}
			}
		}
	}
}
