.entry-content {
    .empreendimentos-card, .ultimas_do_blog-card {
        > h1 {
            padding : 15px 0;
            font-family: $fonte;
            text-align: center;
            font-size: 33px;
            font-weight: bold;
            width: 316px;
            margin: 0 auto;
            @include transition(all .3s);
            @media screen and (max-width: $sm) {
                margin: 0 auto 20px auto;
                font-size: 28px;
                width: inherit;
            }
            &:after {
                content: '';
                background: $main-color;
                display: block;
                width: 174px;
                padding: 3px;
                margin: 10px auto 0 auto;
                @include transition(all .3s);
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
    .area {
        i {
            color: #50504f;
        }
    }
    .counter{
        margin-top: 50px;
        background: url('assets/images/faixa.png')no-repeat;
        background-size: 100% 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        color: rgb(255, 255, 255);
        padding: 60px;
        @media screen and (max-width: $tb){
            padding: 60px 40px;
        }
        @media screen and (max-width: $sm){
            display: block;
            background-position: center;
            background-size: cover;
            > div {
                margin: 50px 0;
            }
        }
        > div {
            p{
                font-weight: bold;
                font-family: $fonte;
                text-align: center;
                font-size: 40px;
                @media (max-width:$tb){
                    font-size: 25px;
                }
                &:first-of-type{
                    font-size: 100px;
                    font-weight: bold;
                }
            }
        }
    }
    .mais {
        width: 100%;
        margin: 25px 0;
        text-align :center;
        a{
            position : relative ;
            width: 100%;
            padding: 13px 50px;
            background: rgb(0, 56, 93);
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-family: Montserrat;
            font-weight: bold;
            border-radius: 20px;
            transition :all .3s;
            box-shadow: 3px 3px 3px 0px #ccc;
            &:after{
                content: '';
                width: 55%;
                height: 4px;
                background-image: linear-gradient(to right,rgb(0, 39, 77),rgb(255, 255, 255));
                display: inline-block;
                margin-left: 25px;
                pointer-events : none;
                vertical-align: middle;
                position: absolute;
                right: -177px;
                top: 25px;
            }
            &:before{
                content: " ";
                width: 55%;
                height: 4px;
                pointer-events: none;
                background-image: linear-gradient(to left,rgb(0, 39, 77),rgb(255, 255, 255));
                display: inline-block;
                margin-left: 25px;
                vertical-align: middle;
                position: absolute;
                left: -202px;
                top: 25px;
            }
            &:hover{
                background: rgb(209, 124, 2);
            }
        }
    }
}
