/* Institucional
========================================================================== */
section.institucional-section-01 {
    padding: 72px 0 30px;
    h2 {
        @include defaultHeadingContato;
        max-width: 422px !important;
    }
    p {
        font-family: $fonte;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5 !important;
        text-align: justify;
        color: #000;
        margin: 10px 0;
    }
    video {

    }
}

section.institucional-section-02 {
    h2 {
        @include defaultHeadingContato;
        max-width: 622px !important;
    }
    p {
        font-family: $fonte;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5 !important;
        text-align: justify;
        color: #000;
        margin: 26px 0;
    }
}

section.institucional-section-03 {
    h2 {
        max-width: 622px !important;
        font-size: 2.188rem;
        font-family: $fonte !important;
        font-weight: bold !important;
        color: #fff !important;
        @include transition(all .3s);
        @media screen and (max-width: $sm) {
            margin: 0 0 20px 0;
        }
        &:hover {
            transform: translateX(6px);
        }
    }
    p {
        font-family: $fonte;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5 !important;
        text-align: justify;
        color: #fff !important;
    }
    ul {
        li {
            span {
                color: #fff !important;
                font-family: $fonte !important;
                font-weight: 400 !important;
                font-size: 1.25rem !important;
                i {
                    font-size: 8px !important;
                    color: #fff !important;
                }
            }
        }
    }
}

section.institucional-section-04 {
    padding: 52px 0;
    h2 {
        @include defaultHeadingContato;
        max-width: 384px !important;
    }
    p {
        font-family: $fonte;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5 !important;
        text-align: justify;
        color: #000;
        margin: 22px 0 6px;
    }
    h3 {
        font-family: $fonte !important;
        font-weight: bold !important;
        font-size: 1.5rem !important;
        color: #000 !important;
    }
    ul {
        li {
            span {
                color: #000 !important;
                font-family: $fonte !important;
                font-weight: 400 !important;
                font-size: 1.25rem !important;
                margin: 8px 0;
                i {
                    margin-right: 6px !important;
                    font-size: 12px !important;
                    color: $main-color !important;
                }
            }
        }
    }
}
