/* Investidores
========================================================================== */
section.investidores-section-01 {
    padding: 72px 0 30px;
    h2 {
        @include defaultHeadingContato;
        max-width: 552px !important;
        margin-bottom: 30px !important;
        color: $text-color;
    }
}

section.investidores-section-02 {
    margin-top: 30px;
    padding-bottom: 52px;
    h2 {
        @include defaultHeadingContato;
        max-width: 422px !important;
        margin-bottom: 30px !important;
        color: $text-color;
    }
}

section.investidores-section-01,
section.investidores-section-02 {
    p {
        font-family: $fonte;
        font-weight: 400;
        font-size: 1.25rem;
        color: $text-color;
        strong {
            font-weight: bold;
        }
    }
}

.investidores-citacao {
    margin-top: 30px;
    p {
        font-size: 1rem !important;
    }
}

div.investidores-mais {
    width: 100%;
    margin: 25px 0 72px;
    text-align :center;
    a {
        width: 100%;
        position: relative;
        padding: 13px 50px;
        background: rgb(0, 56, 93);
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-family: Montserrat;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        transition :all .3s;
        box-shadow: 3px 3px 3px 0px #ccc;
        &:after {
            content: '';
            width: 55%;
            height: 4px;
            background-image: linear-gradient(to right,rgb(0, 39, 77),rgb(255, 255, 255));
            display: inline-block;
            margin-left: 25px;
            pointer-events : none;
            vertical-align: middle;
            position: absolute;
            right: -177px;
            top: 25px;
        }
        &:before {
            content: " ";
            width: 55%;
            height: 4px;
            pointer-events: none;
            background-image: linear-gradient(to left,rgb(0, 39, 77),rgb(255, 255, 255));
            display: inline-block;
            margin-left: 25px;
            vertical-align: middle;
            position: absolute;
            left: -202px;
            top: 25px;
        }
        &:hover {
            background: rgb(209, 124, 2);
        }
    }
}
