/* Single Blog
========================================================================== */
section.single-blog {
    padding: 40px 0;
    @media screen and (max-width: $dt) {
        padding: 15px;
    }
    img {
        height: 440px;
        width: 100%;
        margin: 0 0 20px 0;
        object-fit: cover;
        object-position: center;
        @include border-radius(22px 0 22px 0);
        @media screen and (max-width: $dt) {
            height: 320px;
        }
    }
    > .text-content {
        display: block;
        > h1 {
            margin: 25px 0px 30px 0;
            font-family: $fonte;
            line-height: 1.2;
            color: $text-color;
        }
        p, a, span {
            font-family: $fonte !important;
            line-height: 1.5;
            color: #000;
        }
        p{
            margin-bottom: 20px;
        }
        h2, h3, h4, h5, h6{
            margin: 20px 0;
        }
        ul{
            list-style: initial;
            padding-left: 20px;
            li{
                color: #000;
                line-height: 1.5;
                list-style: initial;
                font-family: $fonte !important;
            }
        }
        a{
            font-weight: 600;
            color: #ee7621;
        }
    }
}
