/* Área do Cliente
========================================================================== */
section.area-do-cliente {
    background: url('assets/images/central-do-cliente.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    > div {
        padding: 80px 0;
        @include flex(column, nowrap, center, center);
        @media screen and (max-width: $dt) {
            padding: 46px 15px;
        }
        > .title {
            text-align: center;
            margin-bottom: 50px;
            h2 {
                padding : 15px 0;
                font-family: $fonte;
                font-size: 33px;
                font-weight: bold;
                text-align: center;
                color: #fff;
                margin: 0 auto 16px auto;
                @include transition(all .3s);
                @media screen and (max-width: $sm) {
                    margin: 0 auto 20px auto;
                    font-size: 28px;
                    width: inherit;
                }
                &:after {
                    content: '';
                    background: $main-color;
                    display: block;
                    width: 174px;
                    padding: 3px;
                    margin: 10px auto 0 auto;
                    @include transition(all .3s);
                }
                &:hover:after {
                    width: 100%;
                }
            }
            a {
                img {
                    width: 200px;
                }
            }
        }
        > section {
            padding: 20px;
            background: #fff;
            @include border-radius(22px 0 0 0);
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            .empreendimento-card {
                margin-bottom: 40px;
                &:last-of-type {
                    margin-bottom: 0;
                }
                @include flex(row, nowrap, flex-start, flex-start);
                @media screen and (max-width: $dt) {
                    @include flex(column, nowrap, flex-start, flex-start);
                }
                > img {
                    width: 296px;
                    height: 212px;
                    object-fit: cover;
                    object-position: center;
                    @include border-radius(22px 0 0 0);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        height: 228px;
                        @include border-radius(22px 0 0 0);
                    }
                }
                .text-content {
                    width: 100%;
                    padding: 18px 26px;
                    @include flex(column, nowrap, flex-start, flex-start);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                    @include border-radius(0 0 20px 0);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        height: unset;
                        padding: 18px 26px !important;
                    }
                    @media screen and (max-width: $sm) {
                        text-align: center;
                    }
                    > a {
                        h2 {
                            margin: 0 0 14px 0;
                            font-family: $fonte;
                            line-height: 1.2;
                            color: $main-color;
                        }
                    }
                    p {
                        font-family: $fonte;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #000;
                    }
                    .files {
                        @include flex(row, wrap, flex-start, flex-start);
                        @media screen and (max-width: $sm) {
                            @include flex(row, wrap, center, flex-start);
                        }
                        a {
                            display: block;
                            padding: 10px;
                            margin: 0 0 8px 8px;
                            max-width: 130px;
                            text-align: center;
                            background: $tertiary-color;
                            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                            @include border-radius(20px);
                            @include transition(all .3s);
                            &:hover {
                                transform: translateY(-4px);
                            }
                            img {
                                width: 42px;
                                margin: 0 0 4px 0;
                            }
                            span {
                                display: block;
                                font-family: $fonte;
                                font-size: 0.75rem;
                                font-weight: bold;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        > div.notfound {
            padding: 38px 32px;
            margin-bottom: 60px;
            background: #fff;
            @include border-radius(18px 0 18px 0);
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            @media screen and (max-width: $tb) {
                width: 100%;
            }
            h2 {
                font-size: 1.625rem;
                font-weight: 600;
                margin: 0 0 34px 0;
                @include transition(all .3s);
                &:after {
                    content: '';
                    background: $main-color;
                    display: block;
                    width: 174px;
                    padding: 3px;
                    margin: 6px 0 0 0;
                    @include transition(all .3s);
                }
                &:hover {
                    transform: translateX(6px);
                    &:after {
                        width: 240px;
                    }
                }
            }
            a {
                display: block;
                width: max-content;
                background: $tertiary-color;
                font-weight: bold;
                font-size: 1.125rem;
                color: #fff;
                padding: 10px 64px;
                border: none;
                @include border-radius(22px);
                @include transition(all .3s);
                &:hover {
                    transform: translateX(6px);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                }
            }
        }
    }
}
