section.empreendimentos{
    h1.title {
        padding : 15px 0;
        font-family: $fonte;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        width: 316px;
        margin: 0 auto;
        @include transition(all .3s);
        @media screen and (max-width: $tb) {
            margin: 0 auto 20px auto;
            font-size: 28px;
            width: 100%;
        }
        &:after {
            content: '';
            background: $main-color;
            display: block;
            width: 174px;
            padding: 3px;
            margin: 10px auto 0 auto;
            @include transition(all .3s);
        }
        &:hover:after {
            width: 100%;
        }
    }
    div.left{
        width: 25%;
        font-family: $fonte;
        color: #50504f;
        @media screen and (max-width: $tb){
            width: 100%;
        }

        div.menu{
            border-radius: 20px;
            padding: 28px;
            margin-right: 30px;
            filter: drop-shadow(-2.27px 4.455px 3.5px rgba(44,44,44,0.15));
            background-color: #f7f7f7;
            @media screen and (max-width: $tb){
                margin-right: 0;
                margin-bottom: 20px;
            }
            select{
                width: 100%;
                border-radius: 13px;
                background-color: #eaf5ff;
                color: #50504f;
                border: none;
                outline: none;
                padding: 5px 20px;
            }
            p{
                font-size: 18px;
                color: #2d2d2d;
                font-weight: bold;
                margin-bottom: 25px;
                position: relative;
                &:not(:first-child){
                    margin-top: 35px;
                }
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    height: 3px;
                    width: 100px;
                    margin-right: 30px;
                    background-color: $main-color;
                }
            }
            ul{
                li{
                    position: relative;
                    padding-left: 18px;
                    margin: 5px 0;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        width: 7px;
                        height: 7px;
                        background-color: transparent;
                        border: 1px solid #50504f;
                    }
                    a{
                        color: #50504f;
                        &:hover{
                            color: #363636;
                        }
                    }
                }
            }
        }

    }
    div.right{
        width: 74%;
        @media screen and (max-width: $tb){
            width: 100%;
        }
        p.no-result{
            margin-top: 50px;
            font-size: 18px;
            font-family: $fonte;
            color: $secondary-color;
            border: 1px solid $secondary-color;
            border-radius: 13px;
            padding: 20px 5px;
        }
    }
}
