/* Mixins Globais
========================================================================== */
@mixin translate($args) {
	transform: translate($args);
	-webkit-transform: translate($args);
	-moz-transform: translate($args);
	-o-transform: translate($args);
	-ms-transform: translate($args);
}

@mixin border-radius($args) {
	border-radius: $args;
	-moz-border-radius: $args;
	-webkit-border-radius: $args;
	-ms-border-radius: $args;
}

@mixin transition($args) {
	transition: $args;
	-moz-transition: $args;
	-webkit-transition: $args;
	-o-transition: $args;
}

@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin scale($args) {
	transform: scale($args);
	-moz-transform: scale($args);
	-webkit-transform: scale($args);
}

@mixin box-shadow($args) {
	box-shadow: $args;
	-webkit-box-shadow: $args;
	-moz-box-shadow: $args;
}

/* Fontes
========================================================================== */
@import 'fonts';
$fonte: 'Montserrat', sans-serif;

/* Variáveis globais
========================================================================== */
//sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

//cores
$main-color: #006CB7;
$secondary-color: #F77A22;
$tertiary-color: #006CB7;

$text-color: #2e3131;

$error-red: #A63232;
$success: #398f14;

$yellow: #cd9900;

/* Comportamentos padrão: selecao, links e box-sizing
========================================================================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a {
	text-decoration: none;
	transition: all linear .2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

img {
	max-width: 100%;
}

/* Classes globais
========================================================================== */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
	width: 1235px;
	max-width: 100%;
	margin: 0 auto;
	@media screen and (max-width: $tb) {
		padding: 0 20px;
	}
}

.small-container {
	width: 1028px;
	max-width: 100%;
    margin: 0 auto;
}

.hidden {
	display: none;
}

div.left-right-content {
	display: table;
	width: 100%;
    div.left,
    div.right {
		display: table-cell;
		vertical-align: middle;
		@media screen and (max-width: $sm) {
			display: table-row;
		}
	}
}

.left,
.right {
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
	@media screen and (max-width: $sm) {
		width: 100%;
	}
}
.banner_topo{
	height: 343px;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	@media screen and (max-width: 480px) {
		height: 230px;
	}
	.container{
		.texto{
			font-family: 'Montserrat';
			text-transform: uppercase;
			color: #FFFFFF;
			h1{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 800;
				font-size: 64px;
				line-height: 78px;
				letter-spacing: -0.045em;
				text-transform: uppercase;
				color: #FFFFFF;
				@media screen and (max-width: 480px) {
					font-size: 20px;
					line-height: 24px;
				}
			}
			h2{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 400;
				font-size: 36px;
				line-height: 44px;
				letter-spacing: 0.165em;
				text-transform: uppercase;
				color: #FFFFFF;
				@media screen and (max-width: 480px) {
					font-size: 16px;
					line-height: 20px;
				}
			}
		}
	}
}
@media screen and (max-width: 950px) {
    .lSSlideOuter .lightSlider > *{
		display: flex;
   	 	justify-content: center;
		padding: 0px 45px;
	}
}
.lSSlideOuter .lightSlider{
	height: auto!important;
}
#ultimas_do_blog{
	li{
		padding: 40px!important;
		@media screen and (max-width: 950px) {
			padding: 20px;
		}
	}
}
@media screen and (max-width: 600px) {
	.lSPager{
		margin-top: -26px!important;
	}
}
@media screen and (max-width: 450px) {
	.lSPager{
		margin-top: -90px!important;
	}
}
/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
::-webkit-scrollbar {
    @media screen and (min-width: $dt) {
        width: 10px;
    }
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
    &:hover {
        background: darken($main-color, 8);
    }
}

/* Contact Form 7 & Alert Classes
========================================================================== */
.ajax-loader {
    display: none !important;
}

span[role="alert"],
span.wpcf7-not-valid-tip {
    display: none !important;
}

.text-error {
    color: $error-red;
}

.central-do-cliente form,
section.contato form,
div#wpcf7-f297-p296-o1 form {
    .wpcf7-not-valid,
    .input-error {
        border: 2px solid $error-red !important;
        @include box-shadow(0 0 6px $error-red);
        &::placeholder {
            color: $error-red !important;
        }
        &:-ms-input-placeholder {
            color: $error-red !important;
        }
        &::-ms-input-placeholder {
            color: $error-red !important;
        }
        &::-webkit-input-placeholder {
            color: $error-red !important;
        }
    }
    div[role="alert"] {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: $fonte;
        font-weight: bold;
        text-align: center;
        border-radius: 8px;
        border-color: #000;
        max-width: 300px;
        @media screen and (max-width: $tb) {
            position: initial;
            max-width: 100%;
        }
    }
    .wpcf7-mail-sent-ok {
        border-color: $success !important;
        color: $success !important;
    }
}

/* Lightslider Classes
========================================================================== */
.cS-hidden {
    height: 1px;
    opacity: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
}

.lg-outer{
	@media screen and (max-width: $sm) {
		top: 60px;
	}
}

/* Importações
========================================================================== */
@import 'header';
@import 'footer';
@import 'home';
@import 'card';
@import 'contato';
@import 'maps';
@import 'pos-venda';
@import 'single-empreendimento';
@import 'article-empreendimentos';
@import 'blog';
@import 'single-blog';
@import 'materiais';
@import 'institucional';
@import 'investidores';
@import 'central-do-cliente';
@import 'area-do-cliente';
