/* Header
========================================================================== */
header{
	z-index: 99999999999;
	position: relative;
	display: block;
	height: 120px;
	nav.fixed-top-menu{
		z-index: 99999999999;
		background-color: $secondary-color;
		width: 100%;
		text-align: center;
		ul{
			padding: 6px 0px;
			list-style-type: none;
			li{
				display: inline-block;
				padding: 0px 15px;
				position: relative;
				&:not(:last-child){
					&:before{
						content: '';
						position: absolute;
						width: 1px;
						height: 15px;
						background-color: #ececec;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
					}
				}
				a{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					line-height: 17px;
					color: #F8F7F7;
					text-transform: capitalize;
				}
				&:hover{
					a{
						opacity: 0.7;
					}
				}
			}
		}
	}
	nav.main-menu{
		z-index: 99999999999;
		background-color: $main-color;
		.container{
			width: 1618px;
			@media screen and (max-width: 1332px) {
				padding: 0px 10px;
			}
		}
		div.left-right-content{
			padding: 32px 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			div.left{
				width: 16%;
				@media screen and (max-width: 1332px) {
					width: 20%;
				}
				height: 30px;
				background-color: $main-color;
				img{
					background-color: $main-color;
					border: 15px solid $main-color;
					border-bottom: 25px solid $main-color;
					border-top: none;
					border-radius:  20px;
					width: 177px;
				}
			}
			div.right{
				text-align: right;
				width: auto;
				@media screen and (max-width: 1332px) {
					width: 84%;
				}
				ul{
					display: inline-flex;
					list-style-type: none;
					column-gap: 36px;
					@media screen and (max-width: 1332px) {
						column-gap: 16px;
					}
					li{
						display: inline-block;
						border: 1px solid #F77A22;
						border-radius: 80px;
						padding: 3px 8px;
						transition: all .3s;
						a{
							font-family: 'Montserrat';
							font-style: normal;
							font-weight: 500;
							font-size: 18px;
							line-height: 22px;
							padding: 0px;
							color: #FFFFFF;
						}
						&:after{
							content: none;
						}
						&.current-menu-item, &:hover{
							background: #F77A22;
						}
					}
				}
				form{
					@media screen and (max-width: 1218px) {
						padding-top: 15px;
					}
					text-align: left;
					display: inline-block;
					padding-left: 36px;
					position: relative;
					@media screen and (max-width: 1332px) {
						padding-left: 16px;
					}
					&:before{
						content: none;
					}
					select{
						@media screen and (max-width: 1332px) {
							padding-right: 14px;
						}
						appearance: none;
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						color: #F8F7F7;
						padding: 5px 14px;
						background: #2E90D3;
						border-radius: 80px;
						padding-right: 80px;
						border: none;
					}
				}
			}
		}
	}
}

body.page-id-436,
body.page-id-424,
body.page-id-419,
body.page-id-562,
body.page-id-944,
body.page-id-946 {
    header#desktop-menu,
    footer#main-footer,
    #fixed-footer {
        display: none !important;
    }
}
