.entry-content {
    .empreendimentos-card, .ultimas_do_blog-card {
        > h1 {
            padding : 15px 0;
            font-family: $fonte;
            text-align: center;
            font-size: 33px;
            font-weight: bold;
            width: 316px;
            margin: 0 auto;
            @include transition(all .3s);
            @media screen and (max-width: $sm) {
                margin: 0 auto 20px auto;
                font-size: 28px;
                width: inherit;
            }
            &:after {
                content: '';
                background: $main-color;
                display: block;
                width: 174px;
                padding: 3px;
                margin: 10px auto 0 auto;
                @include transition(all .3s);
            }
            &:hover:after {
                width: 100%;
            }
        }
    }
    .area {
        i {
            color: #50504f;
        }
    }
    .counter{
        margin-top: 50px;
        background: url('assets/images/faixa.png')no-repeat;
        background-size: 100% 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        color: rgb(255, 255, 255);
        padding: 60px;
        @media screen and (max-width: $tb){
            padding: 60px 40px;
        }
		@media screen and (max-width: 900px){
			flex-wrap: wrap;
			row-gap: 20px;
            background-position: center;
            background-size: cover;
		}
        @media screen and (max-width: $sm){
            display: block;
            background-position: center;
            background-size: cover;
            > div {
                margin: 50px 0;
            }
        }
        > div {
            p{
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 600;
				font-size: 36px;
				line-height: 44px;
				text-align: center;
				color: #FFFFFF;
                @media (max-width:$tb){
                    font-size: 25px;
                }
				@media screen and (max-width: 900px){
					width: 100%;
				}
                &:first-of-type{
					font-family: 'Montserrat';
					font-style: normal;
					font-weight: 700;
					font-size: 64px;
					line-height: 78px;
					color: #FFFFFF;
					&:before{
						font-family: 'Montserrat';
						font-style: normal;
						font-weight: 400;
						font-size: 32px;
						line-height: 39px;
						color: #FFFFFF;
					}
                }
            }
        }
    }
    .mais {
        width: 100%;
        margin: 25px 0;
        text-align :center;
        a{
            position : relative ;
            width: 100%;
            padding: 13px 50px;
            background: rgb(0, 56, 93);
            color: rgb(255, 255, 255);
            font-size: 25px;
            font-family: Montserrat;
            font-weight: bold;
            border-radius: 20px;
            transition :all .3s;
            box-shadow: 3px 3px 3px 0px #ccc;
			&:before, &:after{
				content: none;
			}
			background: $secondary-color;
			border-radius: 20px;
        }
    }
}
