// colors
$main-text: #2d313f; // main text
$link: #d36868; // anchor tags
$background: #e7eaf0; // body background color

$color-1: #2d313f; // blue
$color-2: #d36868; // red
$color-3: #ffffff; // white

// fonts

$primary-font: 'Lora', serif;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// breakpoints

$S:     320px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

/* --------------------------------

Main components

-------------------------------- */

#google-container {
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: $background;

    @include MQ(M) {
    	height: 300px;
    }

    @include MQ(L) {
    	height: 356px;
    }
}

.single-empreendimento .localizacao {
    >div{
        display: table;
        padding: 20px 0;
        img{
            margin-right: 15px;
            vertical-align: middle;
            display: table-cell;
            height: 40px;
            width: 40px;
        }
        address {
            font-size: 1.563rem !important;
            font-family: $fonte;
            font-weight: 600;
            font-style: normal !important;
            color: #50504f;
            line-height: 1.5;
            margin: 0 0 10px 0;
            vertical-align: middle;
            display: table-cell;
            bottom: 0;
            left: 0;
            @include font-size(25px);
            @include MQ(M) {
            	@include font-size(15px);
            	text-align: center;
            }
        }
    }

    #cd-google-map {
	    position: relative;
    }

    #cd-zoom-in, #cd-zoom-out {
        height: 32px;
        width: 32px;
        cursor: pointer;
        margin-left: 10px;
        background-color: rgba($color-2, .9);
        background-repeat: no-repeat;
        background-size: 32px 64px;
        background-image: url('assets/images/cd-icon-controller.svg');

        .no-touch &:hover {
            background-color: rgba($color-2, 1);
        }

        @include MQ(M) {
            margin-left: 50px;
        }
    }

    #cd-zoom-in {
        background-position: 50% 0;
        margin-top: 10px;
        margin-bottom: 1px;

        @include MQ(M) {
            margin-top: 50px;
        }
    }

    #cd-zoom-out {
        background-position: 50% -32px;
    }
}

