/* Materiais
========================================================================== */
section.materiais {
    padding: 60px 0 40px 0;
    @include flex(row, wrap, space-between, flex-start);
    @media screen and (max-width: $dt) {
        padding: 46px 15px 30px;
    }
    @media screen and (max-width: $tb) {
        @include flex(row, wrap, center, flex-start);
    }
    > article {
        margin: 0 0 20px 0;
        background: #f8f8f8;
        padding: 22px 24px;
        width: 500px;
        @include flex(column, nowrap, flex-start, flex-start);
        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.1));
        @include border-radius(20px 0 20px 0);
        img {
            height: 220px;
            width: 100%;
            margin: 0 0 20px 0;
            object-fit: cover;
            object-position: center;
            @include border-radius(20px 0 20px 0);
        }
        h2 {
            font-size: 1.375rem;
            font-family: $fonte;
            font-weight: bold;
            margin: 0 0 20px 0;
            color: #000;
            @include transition(all .3s);
            &:after {
                content: '';
                background: $main-color;
                display: block;
                width: 174px;
                padding: 3px;
                margin: 10px 0 0 0;
                @include transition(all .3s);
            }
            &:hover {
                transform: translateX(6px);
                &:after {
                    width: 320px;
                    @media screen and (max-width: $sm) {
                        width: 240px;
                    }
                }
            }

        }
        p {
            margin: 0 0 20px 0;
            font-family: $fonte;
            line-height: 1.5;
            color: #000;
            a {
                display: none;
            }
        }
        a {
            align-self: center;
            font-family: $fonte;
            font-weight: bold;
            background: $tertiary-color;
            font-weight: bold;
            font-size: 1.25rem;
            color: #fff;
            padding: 8px 32px;
            border: none;
            cursor: pointer;
            @include border-radius(26px);
            @include transition(all .3s);
            &:hover {
                transform: translateX(6px);
                @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            }
            @media screen and (max-width: $sm) {
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}
