/* Conteudos Pós Venda
========================================================================== */
.page-id-296 {
    .elementor-widget-text-editor {
        font-family : $fonte !important;
    }
    .elementor-widget-container {
        h1 {
            @include defaultHeadingContato;
        }
    }
}

/* Formulário Pós Venda
========================================================================== */
div#wpcf7-f297-p296-o1 {
    form {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 20px 0;
        @media screen and (max-width: $tb) {
            display: block;
        }
        span.wpcf7-form-control-wrap {
            margin-bottom: 0 !important;
        }
        &:before {
            display: none;
        }
        p {
            margin: 0 0 20px 0;
            &:first-of-type,
            &:nth-of-type(3),
            &:nth-of-type(6) {
                margin: 0 56px 20px 0;
                @media screen and (max-width: $tb) {
                    margin-right: 0;
                }
            }
            &:nth-last-of-type(2),
            &:nth-last-of-type(3),
            &:nth-last-of-type(6) {
                grid-column: 1 / span 2;
            }
            &:nth-last-of-type(6) {
                input {
                    width: 100% !important;
                }
            }
            &:nth-last-of-type(2) {
                span {
                    margin-left: 0 !important;
                }
            }
            input {
                &[type="submit"] {
                    background: $tertiary-color;
                    font-weight: bold;
                    font-size: 1.625rem;
                    color: #fff;
                    width: 230px;
                    padding: 12px 0;
                    border: none;
                    cursor: pointer;
                    @include border-radius(22px);
                    @include transition(all .3s);
                    &:hover {
                        transform: translateX(6px);
                        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                    }
                }
                &[type="checkbox"] {
                    margin-right: 10px;
                    width: inherit !important;
                    cursor: pointer;
                    & ~ span {
                        font-family: $fonte;
                        font-weight: 600;
                        font-size: 1.125rem;
                        color: #50504f;
                        @media screen and (max-width: $sm) {
                            font-size: 1rem;
                        }
                    }
                }
            }
            textarea {
                width: 100%;
                height: 158px;
            }
            input,
            select {
                width: 532px;
            }
            input,
            select,
            textarea {
                font-family: $fonte;
                font-weight: 600;
                font-size: 1.125rem;
                color: $text-color;
                border: 1px solid $main-color;
                padding: 12px 24px;
                background: #f8f8f8;
                @include border-radius(18px 0 18px 0);
                @include transition(all .3s);
                @media screen and (max-width: $dt) {
                    width: 100%;
                }
                @media screen and (max-width: $sm) {
                    font-size: 1rem;
                }
                &::placeholder {
                    @include transition(all .3s);
                }
                &:-ms-input-placeholder {
                    @include transition(all .3s);
                }
                &::-ms-input-placeholder {
                    @include transition(all .3s);
                }
                &::-webkit-input-placeholder {
                    @include transition(all .3s);
                }
                &:hover,
                &:focus {
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                    &::placeholder {
                        @include defaultPlaceholderHover;
                    }
                    &:-ms-input-placeholder {
                        @include defaultPlaceholderHover;
                    }
                    &::-ms-input-placeholder {
                        @include defaultPlaceholderHover;
                    }
                    &::-webkit-input-placeholder {
                        @include defaultPlaceholderHover;
                    }
                }
            }
        }
    }
}
