/* Banner Single Empreendimento
========================================================================== */
.banner-single-empreendimento {
    width: 100%;
    margin-top: -144px;
    @media screen and (max-width: $sm){
        margin-top: -1px;
    }
}

/* Mixins Single Empreendimento
========================================================================== */
@mixin defaultHeadingEmpreendimento {
    font-size: 2.188rem;
    font-family: $fonte;
    font-weight: bold;
    color: #000;
    margin: 0 0 20px 0;
    @include transition(all .3s);
    &:after {
        content: '';
        background: $yellow;
        display: block;
        width: 174px;
        padding: 3px;
        margin: 10px 0 0 0;
        @include transition(all .3s);
    }
    &:hover {
        transform: translateX(6px);
        &:after {
            width: 320px;
        }
    }
}

/* Single Empreendimento
========================================================================== */
section.single-empreendimento {
    padding: 42px 0 0 0;
    > div {
        @media screen and (max-width: $dt) {
            padding: 0 15px;
        }
        .brand {
            margin: 0 0 30px 0;
            > div {
                @include flex(row, nowrap, space-between, flex-start);
                @media screen and (max-width: $tb) {
                    @include flex(column, nowrap, space-between, flex-start);
                }
                h1 {
                    @include defaultHeadingEmpreendimento;
                }
                p {
                    font-size: 1.125rem;
                    font-family: $fonte;
                    line-height: 1.5;
                    span {
                        display: inline-block;
                        font-family: $fonte;
                        font-weight: bold;
                        font-size: 1.75rem;
                        color: #fff;
                        padding: 8px 32px;
                        background: #16385d;
                        margin: 6px 0 0 0;
                        @include border-radius(18px 0 18px 0);
                        @media screen and (max-width: $dt) {
                            margin: 20px 0;
                        }
                    }
                }
            }
            > h2 {
                font-size: 1.563rem;
                font-family: $fonte;
                font-weight: 400;
                color: #50504f;
                line-height: 1.5;
                margin: 0 0 10px 0;
            }
            > p {
                font-size: 1.125rem;
                font-family: $fonte;
                line-height: 1.5;
            }
        }
        .sobre {
            margin: 0 0 30px 0;
            > h2 {
                @include defaultHeadingEmpreendimento;
            }
            .infos {
                column-count: 3;
                @include flex(row, wrap, flex-start, flex-start);
                @media screen and (max-width: $tb) {
                    column-count: 2;
                }
                @media screen and (max-width: $sm) {
                    column-count: 1;
                    display: block;
                }
                p {
                    font-size: 1.125rem;
                    font-family: $fonte;
                    line-height: 1.5;
                    color: #50504f;
                    margin: 0 0 10px 0;
                    width: 364px;
                    max-width: 336px;
                }
            }
        }
        .gallery {
            img{
                border: none !important;
            }
            #single-empreendimento-slider-01{
                li{
                    img{
                        width: 100% !important;
                        object-fit: cover !important;
                        object-position: center !important;
                        height: -webkit-fill-available !important;
                        @include border-radius(30px 0 30px 0);
                    }
                }
            }
            .lSSlideOuter {
                .lSGallery{
                    margin-top: 20px  !important;
                    li{
                        height: 150px !important;
                        @include border-radius(30px 0 30px 0);
                        img{
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            object-position: center;
                        }
                    }
                }
            }
        }
        .plantas {
            margin: 40px 0;
            > h2 {
                @include defaultHeadingEmpreendimento;
                @media screen and (max-width: $sm) {
                    font-size: 1.75rem !important;
                }
            }
            .lSPrev {
                background: url('assets/images/seta esquerda.png') !important;
            }
            .lSNext {
                background: url('assets/images/seta direita.png') !important;
            }
            .lSPrev,
            .lSNext {
                width: 66px;
                height: 66px;
                background-repeat: no-repeat !important;
                background-size: 100% 100%;
                @media screen and (max-width: $tb) {
                    display: none;
                }
            }
            ul#single-empreendimento-slider-plantas {
                @media screen and (max-width: $sm) {
                    height: 100% !important;
                }
                li {
                    div.item {
                        @include flex(row, nowrap, center, flex-start);
                        @media screen and (max-width: $sm) {
                            @include flex(column, nowrap, center, center);
                        }
                        img {
                            max-width: 500px;
                            max-height: 376px;
                            @media screen and (max-width: $tb) {
                                max-width: 310px;
                            }
                            @media screen and (max-width: $sm) {
                                max-width: 256px;
                            }
                        }
                        > .infos {
                            margin: 26px 0 0 12px;
                            @media screen and (max-width: $sm) {
                                margin: 16px 0 0 0;
                            }
                            h4 {
                                @include defaultHeadingEmpreendimento;
                                font-size: 1.5rem;
                                &:hover:after {
                                    width: 174px;
                                }
                                @media screen and (max-width: $sm) {
                                    font-size: 1.375rem;
                                }
                            }
                            p {
                                font-size: 1.25rem;
                                font-family: $fonte;
                                line-height: 1.5;
                                color: #50504f;
                                margin: 0 0 10px 0;
                                i {
                                    font-size: 1.5rem !important;
                                    color: #50504f;
                                    margin: 0 6px 0 0;
                                }
                                @media screen and (max-width: $sm) {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .status {
            margin: 0 0 60px 0;
            > h2 {
                @include defaultHeadingEmpreendimento;
            }
            > .datas {
                margin: 30px 0 50px 0;
                p {
                    display: inline-block;
                    font-family: $fonte;
                    font-weight: 600;
                    font-size: 1.563rem;
                    width: 348px;
                    color: #fff;
                    padding: 10px 22px;
                    @include border-radius(18px 0 18px 0);
                    &:first-of-type {
                        margin: 0 100px 0 0;
                        background: $main-color;
                        @media screen and (max-width: $dt) {
                            margin: 0 0 20px 0;
                        }
                    }
                    &:last-of-type {
                        background: #35631d;
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            > .infos {
                margin: 0 0 40px 0;
                @include flex(row, nowrap, space-around, flex-start);
                @media screen and (max-width: $dt) {
                    @include flex(row, wrap, space-around, flex-start);
                }
                > div {
                    position: relative;
                    @include transition(all .3s);
                    @media screen and (max-width: $dt) {
                        margin: 0 0 10px 0;
                    }
                    img {
                        position: absolute;
                        left: 34px;
                        top: 30px;
                        width: 56px;
                    }
                    p {
                        text-align: center;
                        font-family: $fonte;
                        font-weight: 600;
                        font-size: 1.25rem;
                        color: #000;
                        margin: 6px 0 0 0;
                    }
                    &:hover {
                        transform: translateY(4px);
                    }
                }
            }
        }
        .localizacao {
            margin: 0 0 80px 0;
            > h2 {
                @include defaultHeadingEmpreendimento;
            }
        }
    }
    .cta {
        background: url('assets/images/faixa-amarela.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        display: block;
        margin: 40px 0 52px 0;
        height: 254px;
        @media screen and (max-width: $sm) {
            height: inherit;
        }
        > div {
            padding: 30px 0 0 0;
            @media screen and (max-width: $sm) {
                padding: 30px 0;
            }
            h3 {
                font-family: $fonte;
                font-weight: bold;
                font-size: 2.188rem;
                color: #fff;
                margin: 0 0 10px 0;
            }
            p {
                font-family: $fonte;
                font-weight: 400;
                font-size: 1.563rem;
                color: #fff;
                margin: 0 0 26px 0;
            }
            a {
                display: inline-block;
                font-family: $fonte;
                font-weight: bold;
                font-size: 1.563rem;
                color: #fff;
                background: $yellow;
                padding: 6px 36px;
                @include border-radius(20px);
                @include transition(all .3s);
                &:hover {
                    transform: translateY(-4px);
                }
                @media screen and (max-width: $sm) {
                    padding: 6px 14px;
                }
            }
        }
    }
}
